@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  font-size: 20px;
  font-family: "Dosis", sans-serif;
  background-color: #eee;
}

/* Navigation */
.navigation {
  width: 100%;
  background-color: #eee;
}
.menu {
  width: 98%;
  background-color: #eee;
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu-left {
  width: 30%;
}
.menu-center {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.menu-right {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Links */
.menulink {
  display: flex;
  justify-content: space-around;
  color: rgb(18, 18, 18);
  font-weight: bold;
  text-transform: uppercase;
  height: 100%;
  align-items: center;
}
.menulink li {
  position: relative;
  padding: 10px;
}

.menulink li a {
  color: black;
  padding: 5px 10px;
  display: block;
}
.menulink li:hover {
  background-color: #aaa7a7;
}

/* Logo + Search */
.menu-center img {
  width: 300px;
  height: 50px;
  object-fit: cover;
  margin: auto;
  display: block;
}
.menu-right input {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: 3px solid red;
  padding: 10px;
  font-size: 15px;
}

.menu-right a {
  color: black;
  font-weight: 500;
}

/* Dropdown */
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  width: 220px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 5px 5px;
  z-index: 100;
  padding: 15px 0;
}
.dropdown {
  display: none;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.menulink li:hover > .dropdown {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.dropdown li a {
  display: block;
  padding: 8px 20px;
  color: #555;
  
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 14px;
}

.dropdown li a:hover {
  color: #6a11cb;
  background-color: #f8f9fa;
}

/* Image Center */
.imgcenter {
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 20px;
}
.imgcenter img {
  width: 100%;
  /* height: 100%; */
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
 swiper-container {
      width: 100%;
      height: 100%;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 16px;
      z-index: 10;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: var(--swiper-theme-color);
    }

    .autoplay-progress svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 4px;
      stroke: var(--swiper-theme-color);
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }

/* Bottom Logos */
.imgend {
  margin-top: 45px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 10px;
}
.imgend img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
